/* CSS Document */

header, section, article, nav, footer {
	display:block;
}
.cssTxt	{
	text-indent:-10000px;
}
.clear	{
	clear:both;
}
.blockLink	{
	display:block;
	background-repeat:no-repeat;
	background-position:left top;
}
a.blockLink:hover	{
	background-position:left bottom;
}
#UNIQUENAMEWrapper	{
	width:920px;
	font:;
	color:#;
}
#UNIQUENAMEWrapper img {
    border: 0 none;
}
#UNIQUENAMEWrapper a	{
	outline:none;
}
#UNIQUENAMEWrapper nav ul,
#UNIQUENAMEWrapper nav li	{
	margin:0;
	padding:0;
}
#UNIQUENAMEWrapper nav li	{
	list-style:none;
	display:block;
	float:left;
	height:;
}
#UNIQUENAMEWrapper header	{

}
